<section class="collection">
  <div class="collection-item" *ngFor="let user of users" (contextmenu)="open($event, user); $event. preventDefault();">
    {{user.name}}
  </div>
</section>

<ng-template #userMenu let-user>
  <section class="user-menu">
    <div class="single-item" (click)="delete(user)">Item 1
    </div>
    <div class="parent-container">
      <div class="single-item"  (click)="delete(user)">Item 2
      </div>
      <div class="sub-menu user-menu">
        <div class="single-item" (click)="delete(user)">Item 2.1
        </div>
        <div class="single-item" (click)="delete(user)">This is a long menu item
        </div>
        <div class="parent-container">
          <div class="single-item"  (click)="delete(user)">Item 2.3
          </div>
          <div class="sub-menu user-menu">
            <div class="single-item" (click)="delete(user)">Item 2.3.1
            </div>
            <div class="single-item" (click)="delete(user)">Item 2.3.2
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="parent-container">
      <div class="single-item"  (click)="delete(user)">Item 3
      </div>
      <div class="sub-menu user-menu">
        <div class="single-item" (click)="delete(user)">Item 3.1
        </div>
      </div>
    </div>
    <div class="single-item">Item 4</div>
  </section>
</ng-template>
