<section class="collection">
  <div class="collection-item" *ngFor="let user of users" (contextmenu)="open($event, user); $event. preventDefault();">
    {{user.name}}
  </div>
</section>

<ng-template #userMenu let-menuItems>
  <ul>
    <li *ngFor="let item of menuItems">
      {{item.text}}
    <ng-container *ngIf="item.subItems != null">
      <ng-container [ngTemplateOutlet]="userMenu" [ngTemplateOutletContext]="{$implicit: item.subItems}"></ng-container>
    </ng-container>
    </li>
  </ul>
</ng-template>
